html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 100px;
    height: 100px;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-top: 1px solid #666b78;
}

.box-a { background-color: #dfe1e7; }
.box-b { background-color: #eeeff2; }
.box-c { background-color: #dfe1e7; }
.box-d { background-color: #eeeff2; }
.box-e { background-color: #dfe1e7; }

